::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.director{
 border: "2px solid red" 
}
.box {
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 3px 4px #FF5733;
  padding: 6px;
  border-width: 1px;
  border-color: #FF5733;
  border-style: solid;
  border-radius: 5px;
  margin: 3px;
  text-align: center;
  text-transform: uppercase;
}
.darkBox{
  box-shadow: 3px 4px #4338ca;
  border-color: #4338ca;
}
.myName {
  width: 50px;
}
.nameBody {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nameBody h1 {
  display: inline-block;
}
.myName:hover {
  border-color: white;
  box-shadow: 3px 4px white;
  color: tomato;
}
.darkMyName{
  color: white
}
.darkMyName:hover{
  border-color: #4338ca;
  box-shadow: 3px 4px #4338ca;
  color: #4338ca;
}
.selfIntro {
  text-align: justify;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-transform: none;
  color: #3f3f46;
}
.selfIntro:hover {
  color: #3C76FC ;
  /* color: white; */
  border-color: white;
  box-shadow: 3px 4px white;
}
.projectHeading {
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 50px;
  /* cursor: pointer; */
}
.projectHeading h3{
  cursor: pointer;
}
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}


@media screen and (max-width: 915px) {
  .nameBody {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
  .nameBody h1 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .selfIntroBody {
    margin-left: 10px;
    margin-right: 10px;
  }
}
